/* sticky footer */
html {
  min-height: 100%;
  display: flex;
}
body,
#root,
#root > .App {
  min-height: 100%;
  max-width: 100vw;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
#content {
  flex: 1 1 auto;
}

/* defaults */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-orchidWhite-50;
}

a {
  @apply text-blue-700 underline;
}

header > nav > a,
footer a {
  @apply text-whiteIce-50 no-underline;
}

.hover-grey {
  @apply border border-happyGrey shadow-sm shadow-[#58555629];
}
.hover-red,
.search-entry:nth-child(5n) {
  @apply border border-happyRed shadow-sm shadow-[#F2B2C699];
}
.hover-yellow,
.search-entry:nth-child(5n-4) {
  @apply border border-happyYellow shadow-sm shadow-[#FFEEA5BB];
}
.hover-green,
.search-entry:nth-child(5n-3) {
  @apply border border-happyGreen shadow-sm shadow-[#A5FFB1BB];
}
.hover-blue,
.search-entry:nth-child(5n-2) {
  @apply border border-happyBlue shadow-sm shadow-[#A5CCFFBA];
}
.hover-purple,
.search-entry:nth-child(5n-1) {
  @apply border border-happyPurple shadow-sm shadow-[#F0A5FFBA];
}

.markdown-page-content {
  h2 {
    @apply mb-1.5 mt-6 text-lg font-semibold;
  }

  blockquote {
    @apply my-2 border-l-4 border-l-rustyRed-100 py-1 pl-4;
  }

  ul li {
    @apply my-2 ml-5 list-disc;
  }

  p + p {
    @apply mt-4;
  }
}

/* rusty bg for footer */
footer::after {
  content: "";
  background-image: url(img/noise.png);
  background-size: 129px;
  mix-blend-mode: multiply;
  opacity: 0.12;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}
