/* sticky footer */
html {
  min-height: 100%;
  display: flex;
}
body, #root, #root > .App {
  min-height: 100%;
  max-width: 100vw;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
#content {
  flex: 1 1 auto;
}

/* defaults */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-orchidWhite-50;
}

a {
  @apply text-blue-700 underline;
}

header > nav > a, footer a {
  @apply text-whiteIce-50 no-underline;
}

.hover-red {
  @apply border border-happyRed shadow-sm shadow-[#F2B2C699];
}
.hover-yellow {
  @apply border border-happyYellow shadow-sm shadow-[#FFEEA5BB];
}
.hover-green {
  @apply border border-happyGreen shadow-sm shadow-[#A5FFB1BB];
}
.hover-blue {
  @apply border border-happyBlue shadow-sm shadow-[#A5CCFFBA];
}
.hover-purple {
  @apply border border-happyPurple shadow-sm shadow-[#F0A5FFBA];
}
